#dado {
    font-family: monospace;
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
  }
  .dado-img {
    max-width: 10%;
    height: auto;
    margin: 10px auto;
  }

  body {
    background-color: #000000;
  }